<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>this is index</title>
    <link rel="stylesheet" href="/assets/styles.css">
    <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script src="/assets/todo-list.js"></script>
</head>
<body>
<h1></h1>
<div id="todo-table" style="color: red;">
   error
</div>
</body>
</html>